<h1>Segundo Formulario</h1>

<h2> El resultado de la suma es: <%= params[:x].to_i + params[:y].to_i %> </h2>

<form>
 <input type="number" name="x" required max="10">
 <input type="number" name="y">
 <input type="submit" value="Enviar">
</form>